*{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: "Nunito Sans", sans-serif
}


body {
    /*background-color: rgb(17, 17, 17);*/
    background: 
		linear-gradient(rgb(53, 53, 53), rgb(0, 0, 0));
}

.header{
    background-color: rgb(22, 22, 22);
    /*position: fixed; /* Fija el encabezado en la parte superior */
    /*top: 0; /* Lo coloca en la parte superior de la ventana */
    /*left: 0; /* Lo coloca en el lado izquierdo */
    /*width: 100%; /* Hace que ocupe todo el ancho de la ventana */
    /*z-index: 1000; /* Asegura que esté por encima de otros elementos */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 100px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    display: flex;
    cursor: pointer;
    list-style: none;
    justify-content: flex-start;
    align-items: center;

}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
    color:azure;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a {
    text-decoration: none;
    color: azure;

}

.header .nav-links .nav-cont{
    background-color: rgb(216, 151, 29);
    padding: 4px;
    border-radius: 6px;
}



.formulario{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.contactForm {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
    color: azure; 
    background-color: rgb(22, 22, 22);
    padding: 35px;
    border-radius: 10px;
    border: 1px solid azure;
    width: 400px;
    box-shadow: 0 0 15px 1px rgb(216, 151, 29);
    
}

.contactForm div {
    margin-bottom: 10px;
    
}

.contactForm label {
    display: block;
    margin-bottom: 0px;
}

.contactForm input[type="text"],
.contactForm input[type="email"],
.contactForm input[type="tel"],
.contactForm textarea {
    width: calc(100% - 16px); /* Resta 16px para el padding (8px a cada lado) */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid azure;
    background-color: rgb(40, 40, 40);
    color: azure;
    margin-bottom: 10px; /* Agrega un espacio entre los elementos */
}

.contactForm textarea {
    resize: vertical;
}

.contactForm button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(216, 151, 29);
    color: azure;
    cursor: pointer;
}

.contactForm button[type="submit"]:hover {
    box-shadow: 0 0 0 2px azure, 0 0 0 4px rgb(216, 151, 29);
}

.formtittle {
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
}

.formstittle{
    font-size: 14px;
    margin-bottom: 40px;
    text-align: center;
    font-family: montserrat;
}



#resultado {
    margin-top: 20px;
}

