*{
    
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "Nunito Sans", sans-serif
}

body{
    background-color: rgb(17, 17, 17);  
}

.header{
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 100px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    cursor: pointer;
    list-style: none;

}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
    color:azure;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a {
    text-decoration: none;
    color: azure;

}

.header .nav-links .nav-cont{
    background-color: rgb(216, 151, 29);
    padding: 4px;
    border-radius: 6px;
}
