/* RESETEO DE ESTILOS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}




/* ESTILOS PARA EL BODY EN GENERAL */
body {
    background:
        linear-gradient(rgb(53, 53, 53), rgb(0, 0, 0));
    background-attachment: fixed;
    background-size: cover;
    overflow-y: scroll;
}


header {
    position: fixed;
    width: 100%;
    font-size: 18px;
    font-family: "Nunito Sans", sans-serif;
}

/* ESTILOS PARA EL NAV */


/* UBICACIÓN DEL MENU  */
.header {
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 5px 5%;
    padding-top: 10px;
}

/* ESTILOS PARA EL LOGO */

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 100px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

/* ESTILOS PARA LOS LINKS (LAS OTRAS PAGINAS) */

.header .nav-links {
    cursor: pointer;
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
    color: azure;
    transition: all 0.3s;

}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    text-decoration: none;
    color: azure;
}

.header .nav-links .nav-cont {
    background-color: rgb(216, 151, 29);
    padding: 2px 4px;
    border-radius: 6px;

}

section {
    display: flex;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 4vw;
    border-style: ridge;
    border-left: none;
    border-right: none;
    border-top: none;
    flex-direction: column;
}

.contenedor {
    width: 70vw;
    padding-top: 100px auto;
    margin-left: 30px;
    font-family: "Nunito Sans", sans-serif, bold;
}

.contPrincipal {
    display: flex;
    flex-direction: row;
    justify-content: start;

}

.contenedor2 {

    border-radius: 10px;
    border-style: ridge;
    background-color: rgba(128, 128, 128, 0.3);
    font: bold;
    color: aliceblue;
    width: 150px;
    height: 60px;
    text-align: center;
    margin-left: 5vh;
    margin-right: 3vh;
    padding-top: 9px;
}

.contenedor3 {

    border-radius: 10px;
    color: aliceblue;
    border-style: ridge;
    background-color: rgba(128, 128, 128, 0.3);
    width: 150px;
    height: 60px;
    text-align: center;
    margin-top: 10vh;
    margin-right: 3vh;
    padding-top: 9px;

}


.contenedor4 {
    display: flex;
    border-radius: 10px;
    color: aliceblue;
    border-style: ridge;
    background-color: rgba(128, 128, 128, 0.3);
    width: 150px;
    height: 60px;
    text-align: center;
    margin-top: 20vh;
    padding-top: 9px;

}

.tamImagen {

    width: auto;
    height: auto;
    background: url(imagenes/Background3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-position: right;
    background-position-y: 100px;

}


.letraSection {
    background: linear-gradient(to right, #FFA500, #FFFF00);
    font-size: 10vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 10vw;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: auto;
    padding-right: 10px;
    border-radius: 5px;
    background-clip: text;
    color: transparent;
    letter-spacing: 10px;
}

footer {
    display: flex;
    color: beige;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.listaFooter {
    list-style-type: none;
    line-height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 55%;
    color: grey;
}



.contenido {
    text-align: center;
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-bottom: 50px;
    justify-content: space-around;
    margin-left: 5vh;
    margin-right: 5vh;
}

#color {
    font-size: 15px;
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}